{% extends 'new_base.html' %}
{% load  crispy_forms_tags %}
{% block title %} Sign in Page {% endblock %}

{% block content %}

    <h2>Sing in</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-row mt-100 justify-content-center" >
        <div class="form-group col-md-4">
        {{ form.username|as_crispy_field }}
        {{ form.password|as_crispy_field}}
        </div> 
    </div>
    <div class="row justify-content-center" >
        <button type="submit" class="btn btn-success col-md-2 mb-100">
            Sign In
        </button>
    </div>
    </form>

{% endblock %}