{% extends 'new_base.html' %}
{% load  crispy_forms_tags %}
{% block title %} Password Change {% endblock %}

{% block content %}
<h2>Password Change</h2>
<p>Pleace enter your old password .....</p>

<form action="" method="POST">
    {% csrf_token %}
    <div class="form-row mt-100 justify-content-center">
        <div class="form-group col-md-4 mb-0">
            {{form.old_password|as_crispy_field}}
            {{form.new_password1|as_crispy_field}}
            {{form.new_password2|as_crispy_field}}
    </div>
    </div>
    <div class="row justify-content-center" >
        <button class="btn btn-success col-md-3 mb-100" type="submit">Change my password</button>
    </div>
</form>

{% endblock %}