{% extends 'new_base.html' %}
{% load crispy_forms_tags %}

{% block title %} Forgot Your Password ?  {% endblock %}


{% block content %}
<h2> Forgot your password ?</h2>
<p>Forgotten your password? Enter your email address below, 
    and we’ll email instructions for setting a new one</p>

<form action="" method="POST">
    {% csrf_token %}
    <div class="form-row mt-100 justify-content-center">
        <div class="form-group col-md-4 mb-0">
             {{form.email|as_crispy_field}}
        </div>
    </div>
    <div class="row justify-content-center" >
        <button class="btn btn-success col-md-3 mb-100" type="submit"> Send me instructions</button>
    </div>
</form>

{% endblock %}