
{% load static %}
{% load i18n %}   {% autoescape off %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% trans "Hi" %}  {{user.get_name}},
<img src="{% static 'images/pw-reset-success.jpg' %}" alt="">

{% trans "We've received a request to reset your password." %}

{% block reset_link %}
{{protocol}}://{{domain}}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock reset_link %}
{% endautoescape %}

</body>
</html>



