	{% load static %}
	{% load i18n  %}
    <!--================ Start header Top Area =================-->
	<section class="header-top">
		<div class="container box_1170">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<a href="{% url 'article_list' %}" class="logo">
						<img src="{% static 'img/logo.png' %}" alt="">
					</a>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 search-trigger">
					<a href="#" class="search">
						<i class="lnr lnr-magnifier" id="search"></i></a>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!--================ End header top Area =================-->

	<!-- Start header Area -->
	<header id="header">
		<div class="container box_1170 main-menu">
			<div class="row align-items-center justify-content-center d-flex">
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-active"><a href="{% url 'article_list'  %}">{% trans "Home" %}</a></li>
						<li><a href="{% url 'categories' %}">{% trans "Category" %}</a></li>
						<li><a href="{% url 'contacts' %}">{% trans "Contact" %}</a></li>
						{% if user.is_authenticated %}
						  <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
						  <li><a href="#">{% trans "Go to Profile" %}</a></li>
						  <li><a href="{% url 'password_change' %}">{% trans "Change Password" %}</a></li>
						  <li><a href="{% url 'password_reset' %}">{% trans "Reset Password" %}</a></li>
						  <li><a href="{% url 'article_new' %}">{% trans "Create Article" %}</a></li>
						{% else %}
						<li><a href="{% url 'login' %}">{% trans "Sign in" %}</a></li>
						<li><a href="{% url 'signup' %}">{% trans "Sign up" %}</a></li>
						{% endif %}
						<li>
						<form action="{% url 'set_language' %}" method="post">
							{% csrf_token %}
							<input name="next" type="hidden" value="{{ redirect_to }}">
							<select class="form-control" name="language"> {% get_current_language as LANGUAGE_CODE %} {% get_available_languages as LANGUAGES %} {% get_language_info_list for LANGUAGES as languages %}
								{% for language in languages %}
									<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
											selected{% endif %}> {{ language.name_local }} ({{ language.code }})
									</option>
								{% endfor %}
							</select>
							<input class="btn btn-primary" type="submit" value="{% trans 'Translate' %} "/>
						</form>
						</li>

					</ul>
				</nav>
			</div>
		</div>
		
		<div class="search_input" id="search_input_box">
			<div class="container box_1170">
				<form class="d-flex justify-content-between" action="{% url 'article_list' %}" method="GET" >
					<input type="text" class="form-control" name="search_title" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End header Area -->