{% load static %}
{% load latest_posts %}
<div class="single-widget popular-posts-widget">
    <div class="jq-tab-wrapper" id="horizontalTab">
        <div class="jq-tab-menu">
            <div class="jq-tab-title active" data-tab="1">Popular</div>
            <div class="jq-tab-title" data-tab="2">Latest</div>
        </div>
        <div class="jq-tab-content-wrapper">
            <div class="jq-tab-content active" data-tab="1">
                {% get_popular_posts as popular_posts %}
                {% for popular_post in popular_posts %}
                <div class="single-popular-post d-flex flex-row">
                    <div class="popular-thumb">
                        <img width="50" class="img-fluid" src="media/{{popular_post.article__image}}" alt="">
                    </div>
                    <div class="popular-details">
                        <h6><a href="{% url 'article_detail' pk=popular_post.article__id %}">{{popular_post.article__title|slice:"12"}}{% if popular_post.title|length > 12 %}...{% endif %}<br></a></h6>
                        <p>{{popular_post.article__date}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="jq-tab-content active" data-tab="2">
                {% get_latest_posts as latest_posts %}
                {% for latest_post in latest_posts %}
                <div class="single-popular-post d-flex flex-row">
                    <div class="popular-thumb">
                        <img width="50" class="img-fluid" src="{{latest_post.get_absolute_image_url}}" alt="">
                    </div>
                    <div class="popular-details">
                        <h6><a href="{{latest_post.get_absolute_url}}">{{latest_post.title|slice:"12"}}{% if latest_post.title|length > 12 %}...{% endif %}<br></a></h6>
                        <p>{{latest_post.date}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>