{% load static %}
{% load latest_posts %}
<div class="single-widget popular-posts-widget">
    <div class="jq-tab-wrapper" id="horizontalTab">
        <div class="jq-tab-menu">
            <div class="jq-tab-title active" data-tab="1">Popular</div>
            <div class="jq-tab-title" data-tab="2">Latest</div>
        </div>
        <div class="jq-tab-content-wrapper">
            <div class="jq-tab-content active" data-tab="1">
                <div class="single-popular-post d-flex flex-row">
                    <div class="popular-thumb">
                        <img class="img-fluid" src="{% static 'img/posts/carousel/stories1.jpg' %}" alt="">
                    </div>
                    <div class="popular-details">
                        <h6><a href="">2nd Gen Smoke Alarm <br>
                                get up from sleep</a></h6>
                        <p>September 14, 2018</p>
                    </div>
                </div>
                <div class="single-popular-post d-flex flex-row">
                    <div class="popular-thumb">
                        <img class="img-fluid" src="{% static 'img/posts/carousel/stories2.jpg' %}" alt="">
                    </div>
                    <div class="popular-details">
                        <h6><a href="">2nd Gen Smoke Alarm <br>
                                get up from sleep</a></h6>
                        <p>September 14, 2018</p>
                    </div>
                </div>
                <div class="single-popular-post d-flex flex-row">
                    <div class="popular-thumb">
                        <img class="img-fluid" src="{% static 'img/posts/carousel/stories3.jpg' %}" alt="">
                    </div>
                    <div class="popular-details">
                        <h6><a href="">2nd Gen Smoke Alarm <br>
                                get up from sleep</a></h6>
                        <p>September 14, 2018</p>
                    </div>
                </div>
                <div class="single-popular-post d-flex flex-row">
                    <div class="popular-thumb">
                        <img class="img-fluid" src="{% static 'img/posts/carousel/stories4.jpg' %}" alt="">
                    </div>
                    <div class="popular-details">
                        <h6><a href="">2nd Gen Smoke Alarm <br>
                                get up from sleep</a></h6>
                        <p>September 14, 2018</p>
                    </div>
                </div>
            </div>

            <div class="jq-tab-content active" data-tab="2">
                {% get_latest_posts as latest_posts %}
                {% for latest_post in latest_posts %}
                <div class="single-popular-post d-flex flex-row">
                    <div class="popular-thumb">
                        <img width="50" class="img-fluid" src="{{latest_post.get_absolute_image_url}}" alt="">
                    </div>
                    <div class="popular-details">
                        <h6><a href="{{latest_post.get_absolute_url}}">{{latest_post.title|slice:"12"}}{% if latest_post.title|length > 12 %}...{% endif %}<br></a></h6>
                        <p>{{latest_post.date}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>