{% load static %}
<div class="single-widget protfolio-widget">
    <img class="img-fluid" src="{% static 'img/blog/user2.png' %}" alt="">
    <a href="#">
        <h4>Peter Anderson</h4>
    </a>
    <p class="p-text">
        Boot camps have its supporters andit sdetractors. Some people do not understand why you should have to spend
        money on boot camp whenyou can get. Boot camps have itssuppor ters andits detractors.
    </p>
    <ul class="social-links">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a href="#"><i class="fa fa-behance"></i></a></li>
    </ul>
    <img src="{% static 'img/sign.png' %}" alt="">
</div>