{% load static %}
{% load category_tags %}
<div class="single-widget category-widget">

    <h4 class="title">Post Categories</h4>
    <ul>
        {% get_all_categories as categories %}
        {% for category in categories %}
        <li>
            <a href="#" class="justify-content-between align-items-center d-flex">
                <p><img src="{% static 'img/bullet.png' %}" alt=""> {{category.name}} ({{category.article_set.count}})</p>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>