{% extends 'new_base.html' %}

{% block title %} Articles Page {% endblock title %}

{% block content %}

{% for article in object_list %}
<div class="card">
    <div class="card-header">
        <span class="font-weight-bold">{{ article.title }}</span>
        <span class="text-muted">{{ article.author }} | {{ article.date }}</span>
    </div>
    <img src="{{article.image.url}}" height="200" width=200 alt="">
    <div class="card-body">
        {{article.description}}
    </div>
    <div class="card-footer text-center text-muted">
        {% if user.is_authenticated %}
        {% if request.user == article.author %}
        <a href="{% url 'article_edit' article.pk %}"> Edit </a> | <a href="{% url 'article_delete' article.pk %}">
            Delete </a> |
        {% endif %}
        {% else %}
        {% endif %}
        <a href="{{article.get_absolute_url}}">Перейти...</a>
    </div>

</div>
<br />
{% endfor %}
{% include 'includes/pagination.html' %}

{% endblock content %}