{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="article-entry">
    <h2>{{object.title}}</h2>
    <p> by {{object.author}} | {{object.date}}</p>
    <p> {{object.description}} </p>
</div>

{% if user.is_authenticated %}
<p>
    <a href="{% url 'article_edit' object.pk %}"> Edit </a>
    <a href="{% url 'article_delete' object.pk %}"> Delete </a>
</p>

<p> Back to articles page <a href="{% url 'article_list' %}">Go to All Articles </a></p>

<form action="" method="POST">
    {% csrf_token %}
    <!-- Comment <input type="text" name="comment"> -->
    {{form|crispy}}
    <button class="btn btn-success"> Add comment </button>
</form>
{% endif %}

<div class="card-footer">
    {% for comment in object.comments.all %}
    <p>
        <span class="font-weight-bold">{{comment.author}}</span>
        {{comment}}
    </p>
    {% endfor %}
</div>

{% endblock content %}