{% extends 'new_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row mt-150 justify-content-center">
        <div class="form-group col-md-4 mb-0">
            <h2> New Article </h2>

            {{form.title|as_crispy_field}}
            {{form.description|as_crispy_field}}
            {{form.category|as_crispy_field}}
            {{form.image|as_crispy_field}}
        </div>
    </div>
    <div class="row justify-content-center" >
        <button class="btn btn-success col-md-3 mb-100" type="submit"> Save  </button>
    </div>
</form>

<script  src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<script  src="{% static 'js/tinymce/jquery.tinymce.min.js' %}"></script>

{% endblock content %}