[Unit]
Description=gunicorn daemon for limonkg project
Requires=gunicorn_limonkg.socket
After=network.target

[Service]
PermissionsStartOnly=True
User=dastan
Group=www-data
RuntimeDirectory=gunicorn
RuntimeDirectoryMode=0775
PIDFile=/run/gunicorn/pid
WorkingDirectory=/home/dastan/limonkg
ExecStart=/home/dastan/limonkg/env/bin/gunicorn \
          --access-logfile /home/dastan/limonkg/logs/access.log \
          --error-logfile /home/dastan/limonkg/logs/error.log \
          --pid /run/gunicorn/pid   \
          --env DJANGO_SETTINGS_MODULE=limon_project.settings \
          --workers 3 \
          --bind unix:/run/gunicorn/limonkg_socket limon_project.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
