{% extends 'new_base.html' %}
{% load crispy_forms_tags %}
{% block title %} Sign Up {% endblock %}


{% block content %}

<h3>Sign Up</h3>
<form action="" method="POST">
    {% csrf_token %}
    <div class="form-row mt-100 justify-content-center" >
      <div class="form-group col-md-4 mb-0">
          {{ form.username|as_crispy_field }}
          {{ form.email|as_crispy_field }}
          {{ form.age|as_crispy_field }}
          {{ form.password1|as_crispy_field }}
          {{ form.password2|as_crispy_field }}
      </div>
    </div>
    <div class="row justify-content-center" >
    <button type="submit" class="btn btn-success  col-md-3 mb-100"> Sign up</button>
    </div>

</form>
{% endblock %}